@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Manrope', sans-serif;
}

.title {
  font-family: 'Bebas Neue', sans-serif;
}

.subtitle {
  font-family: 'Montserrat', serif;
  font-weight: bolder;
  color: seashell;
}

.heaters {
  font-family: 'Heaters';
}

/* START: General styles */
.max-width {
  @apply max-w-[1440px] mx-auto;
}

.padding-x {
  @apply sm:px-16 px-6;
}

.padding-y {
  @apply py-4;
}

.flex-center {
  @apply flex items-center justify-center;
}

.flex-between {
  @apply flex justify-between items-center;
}

.custom-btn {
  @apply flex flex-row relative justify-center items-center py-3 px-6 outline-none;
}
/* END: General styles */

/* START : Header styles */

.header {
  @apply flex  z-10 fixed top-0 left-0 right-0;
}

.header_button {
  @apply sm:text-[14px] text-[9px] rounded-full p-1 bg-emerald-700  hover:-translate-y-1 hover:scale-105 px-5 delay-200 transition ease-in-out z-50;
}
.header_padding-x {
  @apply flex justify-center p-6;
}

/* END : Header styles */

/* START: Hero styles */
.hero {
  @apply flex flex-col z-0 max-w-[1920px] my-auto mx-auto bg-[url('https://flowbite.s3.amazonaws.com/docs/jumbotron/conference.jpg')] h-screen  justify-center;
}

.hero_title {
  @apply flex 2xl:text-[100px] xl:text-[80px] md:text-[50px] sm:text-[40px] text-[100px] font-extrabold text-center font-montserrat drop-shadow-lg text-bone-white justify-center z-0;
}

.hero_subtitle {
  @apply flex 2xl:text-[40px] xl:text-[30px]  sm:text-[30px] px-32 font-montserrat text-white justify-center text-center;
}

/* END: Hero styles */

/* START: Home styles */

.home {
  @apply md:flex-col gap-5 relative z-0 padding-x py-12 mx-auto bg-sherpa-blue;
}

.home_padding {
  @apply sm:px-16 px-6;
}

.home_title_overlay {
  @apply 2xl:text-[800px];
}

.home_hello {
  @apply 2xl:text-[60px] xl:text-[40px] text-[50px] flex-auto font-extrabold text-light-white title drop-shadow-lg pt-3;
}

.home_name {
  @apply 2xl:text-[54px] xl:text-[36px] text-[40px] font-extrabold text-light-white font-montserrat drop-shadow-lg;
}

.home_role {
  @apply 2xl:text-[32px] xl:text-[24px] sm:text-[30px] text-[40px] font-extrabold text-light-white font-montserrat drop-shadow-lg;
}

.home_subtitle {
  @apply 2xl:text-[20px] xl:text-[14px] sm:text-[15px] pr-10  font-montserrat mt-5 text-bone-white text-justify mb-5 font-light;
}

.home_subtitle_bold {
  @apply font-bold text-secondary-red font-montserrat;
}

.home_contact_list {
  @apply 2xl:text-[20px] xl:text-[14px] font-light my-auto text-bone-white text-justify ml-3 flex-1 font-montserrat;
}

.home_image_container {
  @apply flex basis-5/12 align-middle justify-center;
}

.home_info_container {
  @apply basis-7/12 flex flex-col ps-8 my-auto font-montserrat;
}

.home_image {
  @apply flex content-center justify-center self-center
  hover:scale-110 transition ease-in-out;
}

.beacon {
  @apply flex flex-none my-auto items-center justify-end bg-teal-800 text-bone-white text-sm font-medium font-montserrat px-5 py-2 rounded-full mr-10;
}

/* .home__text-container {
  @apply flex flex-col items-start justify-start gap-y-2.5 text-black-100;
}

.home__filters {
  @apply mt-12 w-full flex-between items-center flex-wrap gap-5;
}

.home__filter-container {
  @apply flex justify-start flex-wrap items-center gap-2;
}

.home__cars-wrapper {
  @apply grid 2xl:grid-cols-4 xl:grid-cols-3 md:grid-cols-2 grid-cols-1 w-full gap-8 pt-14;
}

.home__error-container {
  @apply mt-16 flex justify-center items-center flex-col gap-2;
} */
/* END: Home styles */

/* START: About */

.about {
  @apply bg-gradient-to-tr from-sherpa-blue to-gray-500 py-12 px-32 text-bone-white;
}

.about_head {
  @apply 2xl:text-[54px] xl:text-[40px] font-extrabold mb-3;
}

.about_head2 {
  @apply 2xl:text-[28px] xl:text-[24px] font-bold;
}

.about_year {
  @apply 2xl:text-[20px] xl:text-[14px] mt-1;
}

.about_role {
  @apply 2xl:text-[20px] xl:text-[14px] mt-1 font-thin italic;
}

.about_instance {
  @apply 2xl:text-[20px] xl:text-[14px] mt-1 font-extrabold;
}

.about_skill_point {
  @apply 2xl:text-[20px] xl:text-[14px] mt-1;
}

.about_tools_point {
  @apply 2xl:text-[20px] xl:text-[14px] mt-1 font-medium;
}

/* END: About*/

/* START : Work Styles */

.work {
  @apply flex flex-col padding-y max-w-[1920px] mx-auto bg-teal-950 sm:px-16;
}

.work_title {
  @apply 2xl:text-[100px] sm:text-[60px] text-[50px] font-extrabold pb-10 text-white sm:mx-auto text-center title;
}

.project_container {
  @apply flex flex-wrap 2xl:flex-row flex-col content-center padding-y gap-7;
}

.project_card {
  @apply 2xl:basis-1/4 flex 2xl:flex-col sm:flex-row flex-col bg-white py-5 sm:mx-auto mx-3 rounded-lg shadow-lg hover:-translate-y-1 hover:scale-105 px-5 delay-100 transition ease-in-out;
}

.project_website_container {
  @apply flex flex-col content-center padding-y gap-7;
}

.project_website_card {
  @apply flex flex-col bg-white py-5 sm:mx-auto mx-3 rounded-lg shadow-lg hover:-translate-y-1 hover:scale-105 px-5 delay-100 transition ease-in-out;
}

.project_title {
  @apply text-center 2xl:text-[35px] sm:text-[45px] text-[20px] font-extrabold;
}

.project_description {
  @apply xl:text-[20px] sm:text-[15px] xl:line-clamp-none sm:line-clamp-6 line-clamp-4 font-light mt-5 text-center padding-x;
}

.project_image {
  @apply static z-0;
}

/* END : Work Styles */

/* START : Services */
.service_title {
  @apply 2xl:text-[100px] sm:text-[60px] text-[50px] font-extrabold pb-10 text-sherpa-blue sm:mx-auto text-center title;
}

.service_point_container {
  @apply flex flex-1 flex-col rounded-xl  px-12 py-5 m-2 border-2;
}

.service_point_header {
  @apply flex-row flex justify-stretch py-3;
}

.service_point_title {
  @apply text-[20px] flex flex-1 justify-center;
}

.service_point_rate {
  @apply text-[20px] flex flex-none justify-end;
}

.service_point_desc {
  @apply text-[16px] flex flex-none text-justify my-5;
}

.service_point_exp {
  @apply flex-1 flex justify-center;
}

/* END : Services */

/* START: Car Card styles */
.car-card {
  @apply flex flex-col p-6 justify-center items-start text-black-100 bg-primary-blue-100 hover:bg-white hover:shadow-md rounded-3xl;
}

.car-card__content {
  @apply w-full flex justify-between items-start gap-2;
}

.car-card__content-title {
  @apply text-[22px] leading-[26px] font-bold capitalize;
}

.car-card__price {
  @apply flex mt-6 text-[32px] leading-[38px] font-extrabold;
}

.car-card__price-dollar {
  @apply self-start text-[14px] leading-[17px] font-semibold;
}

.car-card__price-day {
  @apply self-end text-[14px] leading-[17px] font-medium;
}

.car-card__image {
  @apply relative w-full h-40 my-3 object-contain;
}

.car-card__icon-container {
  @apply flex group-hover:invisible w-full justify-between text-grey;
}

.car-card__icon {
  @apply flex flex-col justify-center items-center gap-2;
}

.car-card__icon-text {
  @apply text-[14px] leading-[17px];
}

.car-card__btn-container {
  @apply hidden group-hover:flex absolute bottom-0 w-full z-10;
}
/* END: Car Card styles */

/* START: Car Details styles */
.car-details__dialog-panel {
  @apply relative w-full max-w-lg max-h-[90vh] overflow-y-auto transform rounded-2xl bg-white p-6 text-left shadow-xl transition-all flex flex-col gap-5;
}

.car-details__close-btn {
  @apply absolute top-2 right-2 z-10 w-fit p-2 bg-primary-blue-100 rounded-full;
}

.car-details__main-image {
  @apply relative w-full h-40 bg-pattern bg-cover bg-center rounded-lg;
}
/* END: Car Details styles */

/* START: Custom Filter styles */
.custom-filter__btn {
  @apply relative w-full min-w-[127px] flex justify-between items-center cursor-default rounded-lg bg-white py-2 px-3 text-left shadow-md sm:text-sm border;
}

.custom-filter__options {
  @apply absolute mt-1 max-h-60 w-full overflow-auto rounded-md bg-white py-1 text-base shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none sm:text-sm;
}
/* END: Custom Filter styles */

/* START: Footer styles */

.footer {
  @apply flex xl:flex-row flex-col gap-5 px-5 justify-center text-black py-5 bg-orange-100;
}

/* .footer {
  @apply flex flex-col text-black-100  mt-5 border-t border-gray-100;
}

.footer__links-container {
  @apply flex max-md:flex-col flex-wrap justify-between gap-5 sm:px-16 px-6 py-10;
}

.footer__rights {
  @apply flex flex-col justify-start items-start gap-6;
}

.footer__links {
  @apply flex-1 w-full flex md:justify-end flex-wrap max-md:mt-10 gap-20;
}

.footer__link {
  @apply flex flex-col gap-6 text-base min-w-[170px];
}

.footer__copyrights {
  @apply flex justify-between items-center flex-wrap mt-10 border-t border-gray-100 sm:px-16 px-6 py-10;
}

.footer__copyrights-link {
  @apply flex-1 flex sm:justify-end justify-center max-sm:mt-4 gap-10;
} */
/* END: Footer styles */

/* START: searchbar styles */
.searchbar {
  @apply flex items-center justify-start max-sm:flex-col w-full relative max-sm:gap-4 max-w-3xl;
}

.searchbar__item {
  @apply flex-1 max-sm:w-full flex justify-start items-center relative;
}

.searchbar__input {
  @apply w-full h-[48px] pl-12 p-4 bg-light-white rounded-r-full max-sm:rounded-full outline-none cursor-pointer text-sm;
}
/* END: searchbar styles */

/* START: search manufacturer styles */
.search-manufacturer {
  @apply flex-1 max-sm:w-full flex justify-start items-center;
}

.search-manufacturer__input {
  @apply w-full h-[48px] pl-12 p-4 rounded-l-full max-sm:rounded-full bg-light-white outline-none cursor-pointer text-sm;
}

.search-manufacturer__options {
  @apply absolute mt-1 max-h-60 w-full overflow-auto rounded-md bg-white py-1 text-base shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none sm:text-sm;
}

.search-manufacturer__option {
  @apply cursor-default select-none py-2 pl-10 pr-4;
}
/* END: search manufacturer styles */
